body {
    margin: 5px;
    padding: 0;
    background: #272930;
    /* font-family: 'Oxygen'; */
    font-family: 'Jua';
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        'header'
        'article'
        'section'
        'footer';
}

.wrapper > * {
    /* padding: 1em; */
    border-radius: 1em;
    border: 5px solid #f3ebdc;
}

header {
    grid-area: header;
    background: #7d7e85;
}

article {
    grid-area: article;
    background: #b6b7bd;
}

section {
    grid-area: section;
    background: #7d7e85;
}

footer {
    grid-area: footer;
    background: #7d7e85;
}

h1,
h2 {
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 75px;
    }
}

p {
    color: #fff;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    p {
        font-size: 50px;
    }
}

@media only screen and (min-width: 375px) {
    p {
        font-size: 30px;
    }
}

.profile-pic {
    max-height: 500px;
    margin: 5px;
}

.card-text {
    color: #000;
    font-size: 25px;
}

section p {
    margin-top: 5px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.icon {
    max-height: 100px;
}

.icons .icon {
    margin: 15px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (min-width: 768px) {
    .bio p {
        font-size: 25px;
    }
}

footer p {
    margin-top: 5px;
}

span {
    color: red;
    font-size: 25px;
}
