body {
    margin: 0;
    padding: 0;
    background: #1a1e23;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    font-family: Arial, sans-serif;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "article"
        "sidebar";
}
.wrapper > * {
    padding: 1em;
    border-radius: 1em;
    border: 5px solid #f3ebdc;
}

h3 {
    text-align: center;
}

p {
    font-size: 50px;
    text-align: center;
}

header {
    font-weight: 900;
    grid-area: header;
    background: #1d80a7;
    /* color: #fff; */
    letter-spacing: 2px;
}

.profile-pic {
    max-height: 400px;
}

article {
    grid-area: article;
    background: #1d80a7;
}
aside {
    grid-area: sidebar;
    background: #1d80a7;
}

.hearts {
    color: red;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 650px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-template-areas:
            "sidebar header  header  header"
            "sidebar article article article";
    }
    p {
        font-size: 30px;
    }
}
@media (min-width: 1000px) {
    .wrapper {
        grid-template-areas:
            "sidebar header  header  header"
            "sidebar article article article";
    }
}
